*.lo
*.o
*.la
*.so
*.a
*.exe
*.dll
*.lib
*.obj
*.pc
.deps
.libs
Makefile.in
Makefile
autom4te.cache
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/libtool
/ltmain.sh
/stamp-h1
.cproject
.project
