body {
	font-family: sans-serif;
}

body>header>h1 {
	border-bottom: solid #ddd 1px;
	margin: 0;
	padding: 0 0 0.25em 0;
}
body>header ul {
	list-style: none;
	font-size: 0.85em;
	margin: 0;
	padding: 1em 0 0 0;
	text-align: right;
}
body>header li {
	display: inline-block;
	padding-left: 1em;
	color: #ddd;
}
body>header li:after {
	content: '|';
	padding-left: 1em;
}
body>header li:last-child:after {
	content: none;
}

table, tr, th, td {
	border: solid #ddd 1px;
	border-collapse: collapse;
}
th, td {
	padding: 0.25em;
}

