Source: quilt
Section: web
Priority: optional
Maintainer: Mo McRoberts <mo.mcroberts@bbc.co.uk>
Build-Depends: debhelper (>= 8.0.0), libcurl4-openssl-dev, librdf0-dev, liburi-dev, libsparqlclient-dev, libjsondata-dev, libltdl-dev, libfcgi-dev

Package: quilt
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Linked Data server FastCGI web application
