<!DOCTYPE html>
<html>
	<head profile="http://a9.com/-/spec/opensearch/1.1/">
		{% include 'head.liquid' %}
		<title>Error: {{ request.statustitle | escape }} • Quilt</title>
	</head>
	<body class="refentry">
		<header>{% include 'header.liquid' %}
			<h1>Error: {{ request.statustitle | escape }}</h1>
		</header>	
		<article>
			<section>
				<p>{{ request.statusdesc | escape }}</p>
			</section>
			{% include 'explorer.liquid' %}
			{% include 'representations.liquid' %}
		</article>
		<footer>{% include 'footer.liquid' %}</footer>
	</body>
</html>
