<!DOCTYPE html>
<html>
	<head profile="http://a9.com/-/spec/opensearch/1.1/">
		{% include 'head.liquid' %}
		<title>{{ title }} • Quilt</title>
	</head>
	<body class="refentry">
		<header>
			<h1>{{ title }}</h1>
			{% include 'header.liquid' %}
		</header>

		<article>

			{% include 'results.liquid' %}
			{% include 'explorer.liquid' %}
			{% include 'representations.liquid' %}

		</article>
		<footer>{% include 'footer.liquid' %}</footer>
	</body>
</html>
