<section>
	<p>
		Welcome to your new Linked Data API service! If you can see this in
		your browser, it means that you've successfully configured Quilt and
		your web server.
	</p>
	<p>
		You can find this notice in <samp>${prefix}/share/quilt/templates/intro.liquid</samp>.
	</p>
</section>
	
